  <div class="page-header">
     <h1 class="pokemons-title"> 
      {{pokemon.name}}
    </h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img class="avatar center-block" src="{{pokemon.name | imageify}}">
    </div>
    <div class="col-md-6">
      <ul class="nav nav-tabs nav-justified">
        <li [ngClass]="{ 'active': tab === 1 }"><a (click)="selectTab(1)">Pokédex</a></li>
        <li [ngClass]="{ 'active': tab === 2 }"><a (click)="selectTab(2)">Stats</a></li>
        <li [ngClass]="{ 'active': tab === 3 }"><a (click)="selectTab(3)">Abilities</a></li>
      </ul>
      <div class="tab-content">
        <div *ngIf="tab === 1">
        <ul class="list-group">
          <li class="list-group-item">
            <strong>id</strong>
            <span class="pull-right">{{pokemon.id}}</span>
          </li>
          <li class="list-group-item">
            <strong>Base_experience</strong>
            <span class="pull-right">{{pokemon.base_experience}}</span>
          </li>
          <li class="list-group-item">
            <strong>Height</strong>
            <span class="pull-right">{{pokemon.height}}</span>
          </li>
          <li class="list-group-item">
            <strong>Weight</strong>
            <span class="pull-right">{{pokemon.weight}}</span>
          </li>
        </ul>
        </div>
        <div *ngIf="tab === 2">
           <ul class="list-group">
              <li class="list-group-item" *ngFor="let stat of pokemon.stats;">
                <strong>{{ stat.stat.name}}</strong>
                <span class="badge">{{ stat.base_stat}}</span>
              </li>
           </ul>   
        </div>
        <div *ngIf="tab === 3">
           <ul class="list-group">
              <li class="list-group-item" *ngFor="let abilitie of pokemon.abilities;">
                <strong>{{ abilitie.ability.name}}</strong>
                <span class="badge">{{ abilitie.slot}}</span>
              </li>
           </ul>   
        </div>
      </div>
    </div>
  </div>